body {
  font-family: 'Roboto', Arial, sans-serif;
}

center{
  font:italic
}  

html {
  background-image: url(https://img.freepik.com/premium-photo/light-satin-soft-blue-abstract-creative-background-design_851755-210444.jpg?w=740);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#demotext {
color: #000000;
text-shadow: 1px 3px 0 #969696, 1px 13px 5px #C0C0C0;
color: #000000;
}

.rainbow-text {
    font-family: Arial Black, Gadget, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    letter-spacing: 5px;
    text-shadow: rgba(163, 163, 163, 0.65) 8px 2px 7px;
}
.rainbow-text .block-line > span {
    display: inline-block;
}
span.block-line > span {
    background-image: linear-gradient(90deg,#ff0000,#ff2b00,#ff5500,#ff8000,#ffaa00,#ffd500,#ffff00,#d4ff00,#aaff00,#80ff00,#55ff00,#2bff00,#00ff00,#00ff2b,#00ff55,#00ff80,#00ffaa,#00ffd5,#00ffff,#00d4ff,#00aaff,#007fff,#0055ff,#002bff,#0000ff,#2a00ff,#5500ff,#7f00ff,#aa00ff,#d400ff,#ff00ff);
    color: #0000;
    -webkit-background-clip: text;
    background-clip: text;
}

