body {
  font-family: 'Roboto', Arial, sans-serif;
}

center {
  font-style: italic;
}

html {
  background-image: url(https://img.freepik.com/premium-photo/light-satin-soft-blue-abstract-creative-background-design_851755-210444.jpg?w=740);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#demotext {
color: #000000;
text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
color: #FFFFFF;
background: #FFFFFF;
}
